:root {
  --background: #000000;
  --font-color: #ed802a;
  --border: #686671;
}

body {
  background-color: var(--background);
}

h1,
p,
div {
  color: var(--font-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#primary_content {
  grid-column: 1/3;
}
#layout_content {
  gap: 0;
  grid-column: 3/11;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-color: var(--border);
}

#layout_content div {
  padding: 4%;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
  background-color: var(--background);
}

.atomic_number {
  align-self: flex-start;
  justify-self: start;
}
.element_type {
  align-self: flex-end;
  justify-self: end;
}
